@use '../../styles/vars' as *;

.container {
	composes: container from '../../styles/_root.scss';
}

.memory {
	min-height: 100vh;
	background: linear-gradient(90deg, #15173c, #2375ef);
	border: 1px solid transparent;
}

.memory_wrap {
	margin-top: 100px;
}
