@use '../../../styles/vars' as *;

.container {
	composes: container from '../../../styles/_root.scss';
}

.memory_wrap {
	width: 100%;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	display: grid;
	gap: 20px;
	list-style: none;
	grid-template-columns: repeat(6, 1fr);
	font-family: $font-montserrat;
}
