.header {
	padding: 20px;
	background-color: transparent;
	position: absolute;
	width: 100%;
	z-index: 2;

	&_nav {
		display: flex;
		justify-content: space-between;
	}

	&_list {
		display: flex;
		list-style: none;

		&_item:not(:last-child) {
			margin-right: 20px;
		}
	}
}
