@use '../../styles/vars' as *;

.container {
	composes: container from '../../styles/_root.scss';
}

.header {
	font-family: $font-montserrat;
	font-style: normal;
	font-weight: 600;
	padding: 20px;
	background-color: transparent;
	position: absolute;
	width: 100%;
	z-index: 2;

	&_nav {
		display: flex;
		justify-content: space-between;
	}

	&_info_right {
		color: black;

		&_white_mode {
			color: aliceblue;
		}
	}

	&_logo {
		color: black;

		&_white_mode {
			color: aliceblue;
		}
	}

	&_list {
		display: flex;
		list-style: none;

		&_item:not(:last-child) {
			margin-right: 20px;
		}

		&_link {
			color: black;

			&_white_mode {
				color: aliceblue;
			}
		}
	}
}
