@use '../../styles/vars' as *;

.header {
	font-family: $font-montserrat;
	font-style: normal;
	font-weight: 600;
	padding: 20px;
	background-color: transparent;
	position: absolute;
	width: 100%;
	z-index: 2;

	&_nav {
		display: flex;
		justify-content: space-between;
	}

	&_list {
		display: flex;
		list-style: none;

		&_item:not(:last-child) {
			margin-right: 20px;
		}

		&_item a {
			text-decoration: none;
			color: black;
		}
	}
}

.container {
	composes: container from '../../styles/_root.scss';
}
